$bg-gray: #F5F7FA;
$text-color: #18191F;
$heading-color:#4D4D4D;
$para-color:#717171;
$base-font-family: Arial, sans-serif;
$primary-brand-color:#4CAF4F;
$footer-background-color:#263238;
$silver-background-color:#F5F7FA;
