* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.header-container {
  background: #F5F7FA;
}

.centered-container {
  width: 80vw;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
}
.nav-list a {
  text-decoration: none;
  color: #18191F;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #18191F;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.primary-button {
  background: #4caf4f;
  color: #fff;
}

.secondary-button {
  background: transparent;
  color: #4caf4f;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  padding: 22px 0;
}

.heading-1 {
  font-size: 64px;
  font-weight: 600;
  color: #4D4D4D;
  line-height: 76px;
}

.heading-2 {
  font-size: 36px;
  font-weight: 600;
  color: #4D4D4D;
  line-height: 44px;
}

.heading-3 {
  font-size: 28px;
  font-weight: 700;
  color: #4D4D4D;
  line-height: 36px;
}

.heading-4 {
  font-size: 20px;
  font-weight: 600;
  color: #4CAF4F;
}

.text-center {
  text-align: center;
}

.para {
  font-size: 16px;
  color: #717171;
}

.care-desc {
  width: 630px;
  margin: 0 auto;
  margin-top: 16px;
}

.care-container {
  margin-top: 48px;
}

.care-image-container {
  position: relative;
  width: 368px;
}

.care-image {
  width: 368px;
  height: 286px;
}

.care-text {
  position: absolute;
  background: #f5f7fa;
  width: 80%;
  left: 10%;
  height: 135px;
  top: 68%;
  border-radius: 6px;
  text-align: center;
  padding: 36px;
  box-sizing: border-box;
  color: #717171;
}

.care-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0px;
}

.care-readmore-section {
  display: inline-flex;
  align-items: center;
}
.care-readmore-section::before {
  content: "Readmore";
  color: #4CAF4F;
  border-radius: 4px;
  font-size: 14px;
}
.care-readmore-section img {
  display: inline;
  width: 24px;
}

.client-container {
  padding-top: 40px;
}

.community-header {
  margin: 32px auto;
  width: 542px;
  height: 88px;
}

.community-container {
  padding: 40px;
}

.community-box-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.community-box {
  height: 200px;
  max-height: 260px;
  width: 299px;
  padding: 24px 32px;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}

.pixel-grade-section {
  display: flex;
  height: 275px;
  margin: 42px auto;
  gap: 32px;
  justify-content: center;
}

.pixel-left-section img {
  height: 305px;
  width: 442px;
}

.pixel-right-section {
  height: 160px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pixel-button {
  width: 130px;
  border-radius: 4px;
  padding: 10px 8px;
  margin-top: 4px;
}

.business-section {
  background-color: #F5F7FA;
  margin-top: 74px;
}

.business-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  height: 320px;
}

.business-left-section {
  margin: 74px auto;
  gap: 8px;
  height: 120px;
  text-align: left;
}

.business-left-heading {
  color: #4CAF4F;
}

.business-right-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
  width: 540px;
  height: 160px;
  padding: 20px auto;
}

.business-right-box {
  display: flex;
  gap: 16px;
}
.business-right-box img {
  width: 48px;
  height: 48px;
}

.logos-container img {
  width: 30px;
  height: 30px;
}

.logos-container {
  width: 100%;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer-section {
  background-color: #F5F7FA;
}

.customer-container {
  background-color: #F5F7FA;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 32px 32px;
  gap: 32px;
}

.customer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 10px;
}

.customer-review {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.customer-logo img {
  width: 326px;
  height: 326px;
}

.customer-container span,
h4 {
  color: #4CAF4F;
}

.customer-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer-container ul li {
  list-style: none;
}

.meet-customer span {
  display: inline-flex;
  align-items: center;
}

.meet-customer img {
  padding-top: 0px;
}

.demo-container {
  background-color: bg-gray;
  border: none;
}

.demo-button {
  background-color: #4CAF4F;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 160px;
  padding: 0 14px;
  height: 50px;
  margin-top: 32px;
}
.demo-button img {
  display: block;
  width: 26px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.footer-container {
  color: white;
  background-color: #263238;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 165px;
  margin-top: 40px;
  gap: 125px;
  height: 150px;
}

.footer-logo-image {
  width: 137px;
  height: 25px;
}

.footer-left-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-company,
.footer-support,
.footer-newsletter {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.footer-sociallinks ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-sociallinks ul li {
  list-style: none;
}

.footer-company ul,
.footer-support ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

li {
  list-style: none;
}

.footer-right-content {
  display: flex;
  gap: 30px;
  color: white;
  direction: row;
  justify-content: center;
}

.footer-right-content input {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: gray;
  border-radius: 8px;
  opacity: 20%;
}
.footer-right-content input::placeholder {
  color: white;
  padding-left: 12px;
}

.input-area {
  position: relative;
}

.footer-send {
  position: absolute;
  right: 8px;
  top: 11px;
}

/*# sourceMappingURL=style.css.map */
