/* body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;      
} */

.navbar-list {
  margin: 64px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.navbar-list-item{
  margin-bottom: 4px;
}
.navbar-list-item-link {
  text-decoration: none;

}
button{
padding: 4px 12px;
  margin-left:8px;
  cursor: pointer;
}
.navbar-list-item button{
  margin-bottom: 10px;
  
}
li {
  list-style: none;
}
.links {
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}

.login {
  margin-top: 50px;
  margin-left:auto;
  margin-right: auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;  
  box-sizing: border-box;
}
.counter-button{
  margin: auto 10px;
}